@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>
                    Welcome to @DMS.ViewHelper.RelatedCompanyName();
                </h1>
            </div>
        </div>
    </div>

    <div class="">
        <div class="panel panel-default">

            <div class="panel panel-heading">Dashboard</div>
            <div class="panel-body">
                Welcome to Dashboard
            </div>
        </div>
    </div>
</div>
